body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff; /* Set background color to white */
    color: #fff; /* Set text color to white */
}

header {
    background-color: transparent;
    color: #fff;
    padding: 40px 20px;
    text-align: center;
}

.hero {
    position: relative;
    background-image: url('https://www.unlv.edu/sites/default/files/styles/1200_width/public/articles/main-images/Goldfield-Newspaper1_0.jpg?itok=5L5QT6f_'); /* Replace 'background.jpg' with your image path */
    background-size: cover;
    background-position: center;
    padding: 100px 20px;
    text-align: center;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
}

.hero h1 {
    font-size: 64px; /* Increased font size */
    font-weight: bold; /* Added font weight for more emphasis */
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.9); /* Increased shadow effect for more contrast */
}

.hero-description {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    padding: 20px;
    border-radius: 10px; /* Rounded corners */
    display: inline-block; /* Ensures the background only wraps around the text */
}

.hero-description p {
    margin: 0;
}

p {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.7); /* Shadow effect */
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-size: 18px;
}

input, textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 16px;
    border: 1px solid #A9927D; /* Light brown */
    border-radius: 0; /* Set border radius to 0 for square edges */
    font-size: 16px;
    box-sizing: border-box;
    background-color: #fff; /* Set background color to white */
    color: #22333B; /* Dark teal */
}

button {
    padding: 12px 24px;
    background-color: #5E503F; /* Dark brown */
    color: white;
    border: none;
    border-radius: 0; /* Set border radius to 0 for square edges */
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #A9927D; /* Light brown on hover */
}

#options {
    display: flex;
    justify-content: center;
}

#options button {
    margin: 0 10px;
}

#result {
    text-align: center;
}

#result h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

#views {
    font-size: 20px;
}